.container {
    height: 120px;
    background-color: white;
    padding: 10px;
    border: 2px solid var(--primary-blue);
    border-radius: 10px;
    width: 80%;
    margin: 15px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.container:hover {
    cursor: pointer;
}
.info > * {
    margin: 0;
}
.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.controls {
    display: flex;
    flex-direction: row;
    align-self: start;
}
.main {
    margin: 10px 0;
    display: flex;
    flex-wrap: wrap;
}
h2 > span {
    color: var(--primary-blue);
    margin-left: 10px;
}
.price {
    margin: 7px 0;
}
.true {
    background-color: var(--super-light-blue);
}
