:root {
    --primary-blue: #1976d2;
    --light-blue: #86bff8;
    --super-light-blue: #d7eaff;
    --primary-gray: #636b75;
    --light-gray: #eaeaea;
    --extra-light-blue: #eef5ff;
    --dark-gray: #222;
}
