.container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('/public/assets/road2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 70%;
}
.info {
    background-color: var(--primary-blue);
    letter-spacing: 0.1em;
    color: white;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    border-radius: 20px;
    padding: 20px;

    -webkit-box-shadow: 0px 0px 15px 4px rgba(34, 60, 80, 0.379);
    -moz-box-shadow: 0px 0px 15px 4px rgba(34, 60, 80, 0.379);
    box-shadow: 0px 0px 15px 4px rgba(34, 60, 80, 0.379);
}
.btns {
    display: flex;
    flex-direction: row;

    width: 530px;
    justify-content: end;
    align-items: center;
    margin-top: 50px;
}

.car > span {
    color: var(--dark-gray);
}

.info > h1 {
    height: 50px;
}

.btns > button > a,
.btns > button > a:visited {
    color: white;
}
