.container {
    margin: 0 auto;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* position: relative;
    top: 30%; */
    /* transform: translateY(30%); */
    background: url('/public/assets/map.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.info {
    background-color: var(--primary-blue);
    letter-spacing: 0.1em;
    color: white;
    width: 400px;
    /* height: 200px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    border-radius: 20px;
    padding: 20px;

    -webkit-box-shadow: 0px 0px 15px 4px rgba(238, 248, 255, 0.564);
    -moz-box-shadow: 0px 0px 15px 4px rgba(238, 248, 255, 0.564);
    box-shadow: 0px 0px 15px 4px rgba(238, 248, 255, 0.564);
}
.btns {
    display: flex;
    flex-direction: row;

    width: 400px;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.car > span {
    color: var(--dark-gray);
}

.info > h1 {
    height: 50px;
}
